.presentation {
    margin: 4rem 0;
   

    
    .container {
        margin-top: 20%;
        display: flex;
        align-items:last ;
        justify-content: space-between;
    

        @media (max-width: 830px) {
            justify-content: center;
            flex-direction: column-reverse;
            gap: 1rem;
        }

        .descriptionPresentation {
            width: 49%;

            @media (max-width: 830px) {
                width: 100%;
            }

            h1 {
                font-size: 4rem;
                font-weight: 800;
                line-height: 70px;
            }

            p {
                font-size: 1.1rem;
                font-weight: 500;
                color: #f9f9f6;
                margin: 0.7rem 0;
            }
            button{
                background-color:#1d1d1b;
                align-self: center;
            }
        }

        .imgPresentation {
            width: 50%;
            height: 530px;
            background: url("../../assets/cover.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            @media (max-width: 830px) {
                width: 100%;
            }
        }
    }

    .video{
      
        width: 640px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        
    
        @media (max-width: 830px) {
       
           margin-left: 0%;
           
        }
    }
}
